*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background-color: red;
    height: 15%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background: linear-gradient(green, rgb(14, 173, 14), lightgreen);
    height: 70%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background-color: purple;
    height: 15%;
}

