*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.tela{
    width: 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: red;
    height: 15%;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background: linear-gradient(rgb(42, 42, 203), lightblue, cyan) ;
    height: 70%;

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: purple;
    height: 15%;

}


nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: pink;
    width: 20%;
    height: 100%;


}
